#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.selectionItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.sectionItem > * {
  flex: 1;
}

.selectionDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 60px;
  padding: 5px;
  padding-bottom: 30px;
  border-bottom: 1px solid #888;
}

.sectionArea {
  border: 1px solid #888;
  padding: 20px;
  position: relative;
  border-radius: 10px;
  min-height: 250px;
  min-width: 250px;
}

.sectionAreaB {
  border: 1px solid #888;
  padding: 10px;
  position: relative;
  border-radius: 10px;
  min-height: 250px;
  min-width: 150px;
}

.selectionBench {
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  user-select: none;
  margin: 5px;
}

.selectionBench > * {
  cursor: pointer;
}

.sectionAreaTitle {
  white-space: nowrap;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -30px;
  padding: 0 10px;
  background-color: white;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.commandDiv {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  padding-top: 30px;
  margin-bottom: 30px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

* :focus {
  outline: none;
}

.resultTable {
  display: flex;
  flex-direction: row;
  border: 1px solid #888;
  min-height: 250px;
  min-width: 250px;
  width: fit-content;
}

.nameColl {
  border-right: 1px solid #888;
}

.resultColl {
  border-right: 1px solid #888;
}

.resultColl:last-child {
  border-right: none;
}

.nameCell:last-child {
  border-bottom: none;
}

.nameCell {
  width: 100px;
  font-weight: 500;
  padding: 0px 15px;
  border-bottom: 1px solid #888;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #f9f9f9;
}

.nameCell:first-child{
  background-color: white;
}

.nameCell > p {
  margin: 0;
}

.resultCell > p {
  margin: 0;
}

.resultCell {
  width: 100px;
  text-align: center;
  font-weight: 500;
  padding: 0px 15px;
  border-bottom: 1px solid #888;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resultCell:first-child{
  background-color: #f9f9f9;
}

.resultCell:last-child {
  border-bottom: none;
}

@media screen and (max-width: 768px) {
  .selectionDiv {
    flex-direction: column;
    gap: 40px;
  }

  .sectionAreaB {
    width: 250px;
    margin: 0;
  }

  .selectionBench {
    margin: 10px;
  }

  .commandDiv {
    flex-direction: column;
  }
}
