#root {
  max-width: 1280px;
  margin: 0;
  padding: 2rem;
  text-align: center;
}

.selectionItem{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.sectionItem > * {
  flex : 1;
}

.selectionDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 60px;
  padding: 30px;
}

.sectionArea{
  border : 1px solid #888;
  padding: 20px;
  position: relative;
  border-radius: 10px;
  min-height: 250px;
  min-width: 250px;

}

.sectionAreaB{
  border : 1px solid #888;
  padding: 20px;
  position: relative;
  border-radius: 10px;
  min-height: 250px;
  min-width: 150px;
}

.selectionBench{
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content:flex-start;
  user-select: none;
  margin: 5px;
}

.selectionBench > * {
  cursor: pointer;
}

.sectionAreaTitle{
  white-space: nowrap;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -30px;
  padding: 0 10px;
  background-color: white;

}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@media screen and (max-width: 768px){

  .selectionDiv{
    flex-direction: column;
    gap: 40px;
  }

  .sectionAreaB{
    width: 250px;
    margin: 0;
  }

  .selectionBench{
    margin: 10px;
  }


}
